<div class="expand">
    <div class="expand-label" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fa fa-chevron-down' : 'fa fa-chevron-right';});});">
    	<i style="font-size:x-small;" class="fa fa-chevron-right"></i>
    	<span>
    	{{ if .IsNamedParams }}
    	{{.Get "default" | default "View Code..."}}
    	{{else}}
    	{{.Get 0 | default "View Code..."}}
    	{{end}}
    	</span>
    </div>
    <div class="expand-content" style="display: none;">
		<pre><code>{{.Inner | safeHTML}}</code></pre>
    </div>
</div>

